/* * @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&display=swap"); */
*/
/* tailwind.css or styles.css */

.bg-image-main {
    background-image: linear-gradient(to bottom,
            #a9c4e5,
            #95b4db,
            #81a4d1,
            #6d94c7,
            #5885bd);
}

.bg-image-search {
    background-image: url("./assets/backgrounds/blob-scene-haikei.svg");
    background-color: #79a2d4;
}

.bg-image-service {
    background-image: url("./assets/backgrounds/stacked-peaks-haikei.svg");
}

.bg-image-blogs {
    background-image: url("./assets/backgrounds/blob-scene-haikei4.svg");
}

.bg-image-testimonials {
    background-image: url("./assets/backgrounds/blob-scene-haikei4.svg");
}

.bg-image-login {
    background-image: url("./assets/backgrounds/blob-scene-haikei.svg");
    background-size: cover;
    background-position: center;
}

.bg-image-signUp {
    background-image: url("./assets/backgrounds/blob-scene-haikei1.svg");
}

html {
    scroll-behavior: smooth;
}

.bg-image-joinUs {
    background-image: url("./assets/backgrounds/layered-waves-haikei.svg");
}

.bg-image-aboutUs {
    background-image: url("./assets/backgrounds/blob-scene-haikei3.svg");
}

.bg-image-petDetails {
    background-image: url("./assets/backgrounds/stacked-peaks-haikei.svg");
}

.bg-image-errorPage {
    background-image: url("./assets/backgrounds/blob-scene-haikei3.svg");
}

